<a href="?lang=es" class="button" lang='es'>{{intlGet "messages.button.spanish"}}</a>
<a href="?" class="button" lang='en-Us'>{{intlGet "messages.button.english"}}</a>
<div class="formatjs">
  <p>{{formatMessage (intlGet "messages.photos") name='Miguel' numPhotos=10 }}</p>
  <p>{{formatMessage (intlGet "messages.photos") name="Alejandro" numPhotos=0 }}</p>
</div>
