<a href="#" class="button lang">Español</a>
<a href="#" class="button lang">Ingles</a>
<div class="formatjs">
  <p>{{formatMessage (intlGet "messages.photos") name='Miguel' numPhotos=10 }}</p>
  <p>{{formatMessage (intlGet "messages.photos") name="Alejandro" numPhotos=0 }}</p>
</div>
