.button {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease; }
  .button:hover {
    background-color: rgba(50, 50, 50, 0.8); }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 25px; }

.formatjs {
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #F2F2F2; }
