@import 'components/buttons';

body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  font-size: 25px;
}
.formatjs{
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}
